<%- include('partials/header') %>

<div class="row justify-content-center align-items-center h-100">
  <form action="/game/new" method="POST">
    <div class="col-6 d-flex flex-column align-items-center">

      <div class="form-group mb-3">
        <label for="lobbyName" class="form-label">Lobby Name</label>
        <input type="text" class="form-control" id="lobbyName" name="lobbyName" placeholder="Enter lobby name">
      </div>

      <button type="submit" class="btn btn-primary">Create Game</button>

    </div>
  </form>
</div>

<%- include('partials/footer') %>